* {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  justify-content: center;
}

.card-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 40px;
}

nav{
  display: block;
  align-items: center;
  height: 50px;
  color: white;
  font-size: x-large;
  background-color: rgba(3, 0, 12, 0.973);
  padding: 10px;
}